<h1>Tweetchive</h1>
<%= link_to 'New Tweet', new_tweet_path %>

<% @tweets.each do |tweet| %>

<div class="tweet-wrapper" style="background-image:url('<%= tweet.background_url %>')">

  <div class="tweet">
  <h2>
    <%= image_tag tweet.photo_url %>
    <%= tweet.screen_name %>
    <%= tweet.name %>
  </h2>
  <p>
    <%= tweet.content %>
    <small><%= tweet.tweeted_at %></small>
  </p>
  <p>
  <%= link_to 'Edit', edit_tweet_path(tweet) %> |
  <%= link_to 'Destroy', tweet, confirm: 'Are you sure?', method: :delete %>
  </div>
</div>


<% end %>


